name: "execute test programs"
on:
  pull_request:
    paths:
      - 'src/**.nim'
      - 'tests/**.nim'
      - '.github/workflows/run-test.yml'
  push:
    branches:
      - main

jobs:
  run-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nim-version: ["2.2.0"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Initialize submodules
        run: git submodule update --init --recursive
      - uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: ${{matrix.nim-version}}
      - name: Check directory structure
        run: ls -R
      - name: execute test programs
        run: nimble test
      - name: compile
        run: nimble build -d:release
      - name: run composed1.sh
        run: cd shtests && bash composed1.sh && cd ../
      - name: run composed2.sh
        run: cd shtests && bash composed2.sh && cd ../